Automatización de emails, resúmenes y respuestas inteligentes/Email_OpenAI_Gmail_Airtable.json
{
  "name": "Email_OpenAI_Gmail_Airtable",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        112
      ],
      "id": "93a8f84d-d843-4299-802c-8692387e697b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "inputText": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        1024,
        -176
      ],
      "id": "a15450b3-9cd8-4b0b-a5a4-9dc216638052",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        32
      ],
      "id": "2f319143-453f-4789-8a48-dc35e59726d3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Y9KKQYNheFZLbw56",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "message": "Hola te contamos que a llegado una nueva solicitud para ser atendida por favor valida la bandeja de entrada de tu correo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        1424,
        256
      ],
      "id": "86c587a9-e4d1-4d24-a1bf-e54834d851ed",
      "name": "Chat",
      "webhookId": "50ff2e73-9015-449b-a946-78dbdf94fb54"
    },
    {
      "parameters": {
        "message": "Hola te contamos que a llegado una nueva solicitud para ser atendida por favor valida la bandeja de entrada de tu correo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        1408,
        -160
      ],
      "id": "795c61ec-f334-44a2-8eba-2fb0a2c68a9a",
      "name": "Chat1",
      "webhookId": "50ff2e73-9015-449b-a946-78dbdf94fb54"
    },
    {
      "parameters": {
        "content": "## Data Inicial Base de datos \nComo ingresa la informacion puede ser de una base de datos que este calendarizado",
        "height": 384,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "e2b022ba-8fc6-4d6f-9b2a-0df9d83c5904",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## IA\nGeneracion de correo cuerpo",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -16
      ],
      "id": "fdd952fb-98c7-425f-94a5-12901136e279",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## IA para analisis de la solicitud\nSi la solicitud u observacion es negativa alerta no se encontro correo y cliente molesto, si es neutra o positiva notificar al comercial para validar tambien",
        "height": 400,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        -272
      ],
      "id": "3551cb69-ba67-467c-b8f3-09d07723799a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envio de correo y agendamiento",
        "height": 256,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        176
      ],
      "id": "acf1a621-352c-4a90-a86c-75a55f15df57",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s)').item.json.correo }}",
        "subject": "=BANCO UNO TE INFORMA  {{ $('Get row(s)').item.json.Nombre }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        256
      ],
      "id": "c022b935-8cc2-45fc-9e82-9b5ab279dd3b",
      "name": "Envio correo cliente",
      "webhookId": "9946bf78-894a-4b4f-9c0f-964d36691771",
      "credentials": {
        "gmailOAuth2": {
          "id": "lg0oecqrf4P3FBNb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "balemas1105@gmail.com",
        "subject": "=Solicitud  {{ $('IA cuerpo correo').item.json.output[0].id }}{{ $('IA cuerpo correo').item.json.output[0].type }}{{ $('IA cuerpo correo').item.json.output[0].status }} {{ $('Get row(s)').item.json.Tipo_solicitud }}",
        "emailType": "text",
        "message": "Cuentas con una solicitud del cliente por favor valida la base ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        256
      ],
      "id": "120ab088-4630-422c-85a0-163436955244",
      "name": "Envio correo corporativo",
      "webhookId": "0dde120e-7209-42d5-b79c-52846589ebf8",
      "credentials": {
        "gmailOAuth2": {
          "id": "lg0oecqrf4P3FBNb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61c86f0a-8db1-47db-8758-9f54f7a552b7",
              "leftValue": "={{ $('Get row(s)').item.json.correo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5b75bfb0-a572-4a4a-ac2b-1165cd2bcbdb",
              "leftValue": "={{ $('Get row(s)').item.json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        112
      ],
      "id": "4741dd76-ef07-4bbd-a40c-f87067e3bd78",
      "name": "Existe correo?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Eres un agente de credito o analista especializado en Banca, vas a recibir solicitudes del clientes y debes de crear un cuerpo de correo donde los debes de saludar de buena manera y coordinal, entender que tipo de solicitud estan haciendo y si acepta el tratamiento de datos o no, de acuerdo a la informacion y observacion dejada debes de indicarles que de acuerdo a su solicitud, uno de nuestros asesores se comunicara con el.\nel formato en que me debes de entregar el texto es en html e incluye una imagen bancaria de acuerdo al asunto o tipo de solciitud dentro del cuerpo, vas a separa el titulo tambien o asunto y el cual debe de decir algo como BANCO UNO TE INFORMA \"Nombre cliente\" \n\nejemplo:\n\nBanco UNO te informa  {{ $json.Nombre }}\n\nSaludo del agente...\ninformacion sobre si acepta o no el tratamiento de datos {{ $json.Cliente_acepta }}\n\ninformacion sobre que se le va atender la solicitud de {{ $json.Tipo_solicitud }} y que entendemos su situacion {{ $json.Observacion }}\n\nimagen de referencia de {{ $json.Tipo_solicitud }}\n\ncierre y despedida"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        112
      ],
      "id": "afa794df-a89f-4ec7-ae74-69c8bcae3932",
      "name": "IA cuerpo correo",
      "credentials": {
        "openAiApi": {
          "id": "Y9KKQYNheFZLbw56",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "EnL7jN9ENM6er5KY",
          "mode": "list",
          "cachedResultName": "Solicitud_clientes",
          "cachedResultUrl": "/projects/qU7obuvS2sqWBJLF/datatables/EnL7jN9ENM6er5KY"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        112
      ],
      "id": "e262d1c4-5f72-454f-b9cc-47363772184a",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        []
      ]
    },
    "Envio correo cliente": {
      "main": [
        [
          {
            "node": "Envio correo corporativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio correo corporativo": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe correo?": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio correo cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA cuerpo correo": {
      "main": [
        [
          {
            "node": "Existe correo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "IA cuerpo correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "44e6aaa4-b09d-4f7b-8d55-3bd6709a3401",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4c056d5863e77160e919617ee15bd0eac65b959ac636d7884177bd210a009a9"
  },
  "id": "53MvzZVVeI3gH1EB",
  "tags": []
}