Chatbots RAG para generación de leads y sitios web/RAG Agent_ Automatic Vector Database Updates with Google Drive.json
{
  "name": "RAG Agent: Automatic Vector Database Updates with Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UCFqpD5e0nX1srzwwLOGrg7HoVll_Tt8",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UCFqpD5e0nX1srzwwLOGrg7HoVll_Tt8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "014e4e0d-aed1-424c-ab97-8d9430013a20",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UMCUJTSaCzc4vHK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f1e0a336-0df6-4304-9e9a-069549df14f1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UMCUJTSaCzc4vHK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ncoursedata",
          "mode": "list",
          "cachedResultName": "n8ncoursedata"
        },
        "embeddingBatchSize": 2000,
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "af690393-66fd-463b-b723-ccb27fba7528",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bBvYvTvALQ8oj7Im",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        224
      ],
      "id": "63c007d8-d31e-46b7-89d9-8af401917d15",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Y9KKQYNheFZLbw56",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "076dbf6e-0b9e-4995-a271-a03ed7a53fa5",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7743dc0a-c4ab-43d0-9c68-5285a5304640",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4c056d5863e77160e919617ee15bd0eac65b959ac636d7884177bd210a009a9"
  },
  "id": "jgf4zPPkD61jg7b1",
  "tags": []
}